@model Gran_Aki_Version_Final.Models.Factura

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacturaDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacturaFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Persona.PersonaApellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FacturaId">Edit</a> |
    <a asp-action="Index">Regresar</a>
</div>
