@model IEnumerable<Gran_Aki_Version_Final.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Registros</h1>

<p>
    <a asp-action="Create">Crear Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacturaDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacturaFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacturaDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacturaFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.PersonaApellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacturaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.FacturaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.FacturaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
